$height-drum-machine: $unit * 40;

.app-content {
  height: 100vh;
  overflow: hidden;
  perspective: $unit * 50;

  &.active {
    .drum-machine {
      transform: translateZ(-$height-drum-machine * 0.5) rotateZ(-0deg);
      transition: transform 0.25s ease-out 0.5s;

      .face-top {
        .bpm-input {
          input {
            background-color: rgb(0, 64, 0);
            text-shadow: 0px 0px 20px #ffff00cc;
            color: #00ff77cc;
          }
        }
      }
    }
  }

  .drum-machine {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: $unit * 2;
    transform-style: preserve-3d;
    transform: translateZ(-$height-drum-machine * 0.5) rotateX(-90deg);
    transition: transform 0.25s ease-out;

    .face-top {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: $unit * 70;
      height: $unit * 15;
      padding: $unit * 4;
      transform-style: preserve-3d;
      transform: rotateX(90deg) translateZ($height-drum-machine * 0.5);
      border-radius: $unit;
      background-image: linear-gradient(to top, #171717 0%, #303032 100%);
      box-shadow: inset 0 18px 4px -18px rgba(255, 255, 255, 0.4), 0 8px 8px 0 rgba(0, 0, 0, 0.3);

      .bpm-input {
        display: flex;
        align-items: center;
        gap: $unit * 0.25;
        height: max-content;
        padding: $unit * 0.25;
        background-color: black;
        border-radius: $unit * 0.75;
        font-weight: 700;

        button {
          height: 100%;

          &.btn-minus {
            border-radius: $unit * 0.5 0 0 $unit * 0.5;
          }

          &.btn-plus {
            border-radius: 0 $unit * 0.5 $unit * 0.5 0;
          }
        }

        input {
          all: unset;
          height: 30px;
          font-family: "Digital-7 Mono", sans-serif;

          background-color: rgb(128, 0, 0);
          text-align: center;
          line-height: $unit * 4;
          letter-spacing: 4px;
          font-size: 32px;
          border-bottom: 2px solid #cfcfcf33;
          box-shadow: 0px 0px 50px #000000ee inset;
          text-shadow: 0px 0px 20px #ffff00cc;
          color: #ff9999cc;
        }
      }

      .power-button {
        display: flex;
        align-items: center;
        padding: $unit * 0.25;
        background-color: black;
        border-radius: $unit * 0.75;

        .status {
          width: $unit;
          height: $unit;
          margin: 0 $unit;
          border-radius: 50%;
          background-color: rgb(128, 0, 0);
          box-shadow: 0px 0px 2px #000000ee inset, 0 0 $unit rgb(128, 0, 0);
          transition: background-color 0.25s, box-shadow 0.25s;

          &.on {
            background-color: rgb(0, 128, 0);
            box-shadow: 0px 0px 2px #000000ee inset, 0 0 $unit rgb(0, 128, 0);
          }
        }

        button {
          border-radius: $unit * 0.5;

          svg {
            width: 2em;
          }
        }
      }
    }

    .face-front {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: $unit * 4;
      width: $unit * 70;
      height: $height-drum-machine;
      padding: $unit * 4;
      border-radius: $unit;
      background-image: linear-gradient(to top, #171717 0%, #303032 100%);
      box-shadow: inset 0 18px 4px -18px rgba(255, 255, 255, 0.4), 0 8px 8px 0 rgba(0, 0, 0, 0.3);
      transform: rotateY(0deg) translateZ($unit * 7.4);

      .old-lcd-screen {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: $unit;
        border-radius: $unit;
        user-select: none;
        background-color: rgb(20, 20, 20);
        box-shadow: 0px 0px 16px #000000ee inset;

        .screen-progress-trail {
          display: flex;
          margin-top: $unit * 0.5;
          width: 100%;
          height: 4px;
          background-color: #00000066;
          border-radius: 2px;

          .led {
            width: calc(100% / 12);
            height: 100%;
            border-radius: 2px;
            box-shadow: 0px 0px 2px #000000aa inset;

            &.on {
              background-color: #00ffffcc;
              box-shadow: 0px 0px 2px #000000aa inset, 0 0 2px #00ffff66;
            }
          }
        }

        .led-row {
          flex-grow: 1;
          display: flex;

          &.on {
            .led {
              &.on {
                background-color: #00ffff33;
                box-shadow: 0px 0px 50px #00ffff99;

                .led-dot {
                  background-color: #00ffffcc;
                }
              }

              .led-dot {
                background-color: #00000066;
              }
            }
          }

          .led {
            flex-grow: 1;
            padding: 1px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(4, 1fr);
            column-gap: 2px;
            row-gap: 2px;

            .led-dot {
              border-radius: 1px;
              box-shadow: 0px 0px 4px #000000aa inset;
            }
          }
        }
      }

      .button-group {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .play-buttons,
        .sample-buttons {
          display: flex;
          gap: $unit * 0.25;
          padding: $unit * 0.25;
          background-color: black;
          border-radius: $unit * 0.75;

          button {
            &:first-child {
              border-radius: $unit * 0.5 0 0 $unit * 0.5;
            }

            &:last-child {
              border-radius: 0 $unit * 0.5 $unit * 0.5 0;
            }
          }
        }
      }
    }
  }

  .svg-filters {
    height: 0;
    width: 0;
  }
}
