.app-content
  .drum-machine(:class="{active: sequencer}")
    transition(name="fade" mode="out-in")
      .power-off(v-if="!sequencer")
        .power-button
          button(@click="power"): v-icon(name="power-off")
          .circles-wrapper
            .circle(v-for="circle in 5" :key="circle" :class="`circle-${circle}`")
      .power-on(v-else)
        .bpm-input
          button(): v-icon(name="plus")
          input(v-model="settings.bpm" @change="test")
          button(): v-icon(name="minus")
        .play-button
          button(:class="{playing: sequencer.isPlaying()}" @click="play")
            transition(name="scale" mode="out-in")
              v-icon(v-if="sequencer.isPlaying()" name="pause")
              v-icon(v-else name="play")
        .drum-pad
          button(v-for="(sample, index) in sequencer.getSamples()" :key="index" :class="{active: !sample.isMuted}" @click="sample.isMuted = !sample.isMuted"): v-icon(name="circle")